// Variable Overrides
// TODO

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// Simple Project
.simpleProject {
    margin: 1em 0;
}

// Footer
.footer {
    text-align: center;
    color: $white;
}

// Helpers
.pageLoader {
    margin: 4em 0;
    padding: 2em;
}