// Variable Overrides
// https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=0277BD
$primary: #0277bd;
$dark: #004c8c;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// Simple Project
.simpleProject {
    margin: 1em 0;
}

// Footer
.footer {
    text-align: center;
    color: $white;
}

// Helpers
.pageLoader {
    margin: 4em 0;
    padding: 2em;
}
