// Variable Overrides
// https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=0277BD
$primary: #0277bd;
$dark: #004c8c;
$enable-rounded: false;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// Simple Project
.simpleProject {
    margin-bottom: 0.5em;
}

// Project List
.projectList {
    margin-bottom: 3em;
}

// Footer
.footer {
    text-align: center;
    color: $white;
}

// Helpers
.pageLoader {
    margin: 4em 0;
    padding: 2em;
}

.react-datetime-picker__wrapper {
    border: none;
    padding: 0;
    margin: 0;
}

.react-datetime-picker {
    padding: 0;
}